h1 {
    text-align: center;
    text-indent: 150px;
}

#main {
    color: black;
    background-color: lightgray;
    text-indent: 50px;
}

#nav {
    float: left;
    border-style: solid;
    color: white;
    background-color: black;
    height: 450px;
    width: 100px;
    text-align: center;
}


#chart_div{
    float: right;
    background-color: lightgraygray;
}

a {
    color: white;
}

body {
    background-color: lightgray;
}
